.premierh1{
    color: green;
    font-size: 15px;
}

.deuxiemeh1{
    color: red;
    font-size: 50px;
}

span{
    color: brown;
}
.span1{

    font-size: 30px;
}

.span2{
    font-size: 72px;}

    .div1{
        width: 300px;
        height: 300px;
        background-color: red;
        border-radius: 50%;
        margin-bottom: 100px;
    }

    .div2{
        width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 50px;
    }